body{
  background:url(https://images.unsplash.com/photo-1459264396224-85f3c56d8daf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c5444b2da28448305f388e7dbdfa5f3a&auto=format&fit=crop&w=500&q=60);
  background-repeat:no-repeat;
  background-size:cover;
}
.container .jumbotron{
  background:red;
  color:white;
  font-size:25px;
  margin-top:200px;
}
td,table,th{
  border:5px solid red;
  color:yellow;
}
thead{
  background:green;
}
h1{
  color:blue;
  text-align:center;
  font-size:30px;
}
table{
  margin:auto;
  font-size:20px;
}
h1{
  font-size:35px;
}
td{
  background:yellow;
  color:green;
}
